<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Doc</th>
      <th>Version</th>
      <th>Price</th>
      <th>Available</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.DOC %></td>
        <td><%= item.version %></td>
        <td><%= item.price %></td>
        <td><%= item.available %></td>
        <td><%= item.user_id %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
