<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Date of Creation:</strong>
  <%= @item.DOC %>
</p>

<p>
  <strong>Version:</strong>
  <%= @item.version %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @item.available %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @item.userid %>
</p>

<% if user_signed_in? And (current_user.admin? Or current_user.id==@items.user.id) %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', items_path %>
